.App {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    color: white;
    overflow-x: hidden;
}

.kanban_board {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 60px);
    overflow-x: auto;
    white-space: nowrap;
}