# Visual Studio Code Extension (Use `vsce package` to create a .vsix package)
*.vsix

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

# Hash file
*.sha256

vsxmake*/
.vscode/compile_commands.json
.vscode/settings.json
compile_commands.json
