#modal-edit-card-title {
    min-height: auto;
    resize: none;
    display: inline-block;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
    border: none;
}

#modal-edit-card-description {
    border: none;
}

#add-list {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    min-width: 250px;
    width: 250px;
    max-width: 250px;
}

#add-list:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.card-menu {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(180deg);
}

.card-menu-actions {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: var(--menu-background-color);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.card-menu-actions button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.list-actions {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.list-actions-menu {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: var(--menu-background-color);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.list-actions-menu button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

#modal-content {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    height: 80%;
    box-sizing: border-box;
    border-radius: 12px;
}

#modal-sidebar {
    width: 150px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#modal-sidebar>* {
    margin: 5px 0;
}

#modal-main {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#modal-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#modal-header h2 {
    margin-top: 0;
    color: white;
}

#modal-label-bar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.label-bar {
    flex-wrap: wrap;
    margin-top: 10px;
}

.modal-label-button {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.modal-label-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#modal-body {
    margin-bottom: 20px;
}

#modal-content label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

#modal-content textarea::placeholder {
    color: white;
}

#modal-content input[type="text"],
#modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

#modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#modal-label-button,
#modal-attachment-button,
#modal-save-card {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

#modal-label-button:hover,
#modal-attachment-button:hover,
#modal-save-card:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#modal-content button {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

#modal-content button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#modal-close:hover,
#modal-close:focus {
    color: white;
    text-decoration: none;
}

.card-menu-actions,
.list-actions-menu {
    position: absolute;
    z-index: 1000;
}

#kanban-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
}

#edit-title-input {
    font-size: 24px;
    font-weight: bold;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    display: none;
}

.menu {
    display: none;
    position: absolute;
    background-color: var(--menu-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

#modal-label-list {
    display: flex;
    flex-direction: column;
}

.label-button,
.modal-label-button {
    display: block;
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
    border: none;
    color: white;
    text-align: left;
}

.label {
    display: inline-block;
    padding: 3px 5px;
    margin: 2px;
    color: white;
    border-radius: 3px;
}

#modal-label-create {
    display: none;
}