#modal-edit-card-description {
    border: none;
}

#add-list {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    min-width: 250px;
    width: 250px;
    max-width: 250px;
}

#add-list:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.list-actions {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.list-actions-menu {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: var(--menu-background-color);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.list-actions-menu button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

#modal-sidebar {
    width: 150px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#modal-sidebar>* {
    margin: 5px 0;
}

.label-bar {
    flex-wrap: wrap;
    margin-top: 10px;
}

.modal-label-button {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.modal-label-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#modal-content button {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

#modal-content button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.card-menu-actions,
.list-actions-menu {
    position: absolute;
    z-index: 1000;
}

#kanban-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
}

#edit-title-input {
    font-size: 24px;
    font-weight: bold;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    display: none;
}

.menu {
    display: none;
    position: absolute;
    background-color: var(--menu-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

#modal-label-list {
    display: flex;
    flex-direction: column;
}

.label-button,
.modal-label-button {
    display: block;
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
    border: none;
    color: white;
    text-align: left;
}

.label {
    display: inline-block;
    padding: 3px 5px;
    margin: 2px;
    color: white;
    border-radius: 3px;
}